# PANDAS #4 - TUTORIAL

https://dev.to/gtrindadi/pandas-4-merging-8b8 <br>
by: Gabriela Trindade

# Before we start

In [1]:
import pandas as pd

In [2]:
# download the new dataset version 
!wget https://raw.githubusercontent.com/gabrielatrindade/blog-posts-pandas-series/master/restaurant_orders_v2.csv

--2020-03-16 15:59:09--  https://raw.githubusercontent.com/gabrielatrindade/blog-posts-pandas-series/master/restaurant_orders_v2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.36.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.36.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 957 [text/plain]
Saving to: ‘restaurant_orders_v2.csv.1’

restaurant_orders_v 100%[===================>]     957  --.-KB/s    in 0s

2020-03-16 15:59:10 (50.6 MB/s) - ‘restaurant_orders_v2.csv.1’ saved [957/957]

In [3]:
# download the new dataset
!wget https://raw.githubusercontent.com/gabrielatrindade/blog-posts-pandas-series/master/restaurant_products_price.csv

--2020-03-16 15:59:12--  https://raw.githubusercontent.com/gabrielatrindade/blog-posts-pandas-series/master/restaurant_products_price.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.36.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.36.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 405 [text/plain]
Saving to: ‘restaurant_products_price.csv.1’

restaurant_products 100%[===================>]     405  --.-KB/s    in 0s

2020-03-16 15:59:12 (23.4 MB/s) - ‘restaurant_products_price.csv.1’ saved [405/405]

In [4]:
column_names_orders = ['order_number', 'order_date', 'item_name', 'quantity']
orders_v2 = pd.read_csv('restaurant_orders_v2.csv',
                        delimiter=',', names=column_names_orders)

In [5]:
column_names_prices = ['item_name', 'product_price']
products_price = pd.read_csv('restaurant_products_price.csv',
                             delimiter=',', names=column_names_prices)

In [6]:
orders_v2.head()

   order_number  order_date         item_name  quantity
0         16118  2019-08-03     Plain Papadum         2
1         16118  2019-08-03  King Prawn Balti         1
2         16118  2019-08-03       Garlic Naan         1
3         16118  2019-08-03     Mushroom Rice         1
4         16117  2019-08-03        Plain Naan         1

In [7]:
products_price.head()

       item_name  product_price
0     Mint Sauce           0.50
1  Mango Chutney           0.50
2      Red Sauce           0.50
3  Plain Papadum           0.80
4          Puree           1.95

# Merging

## Inner: intersection of dataframes

In [8]:
orders_v2.merge(products_price)

    order_number  order_date                item_name  quantity  product_price
0          16118  2019-08-03            Plain Papadum         2           0.80
1          16115  2019-08-03            Plain Papadum         1           0.80
2          16113  2019-08-03            Plain Papadum         1           0.80
3          16112  2019-08-03            Plain Papadum         2           0.80
4          16109  2019-08-03            Plain Papadum         4           0.80
5          16118  2019-08-03         King Prawn Balti         1          12.95
6          16118  2019-08-03              Garlic Naan         1           2.95
7          16110  2019-08-03              Garlic Naan         1           2.95
8          16109  2019-08-03              Garlic Naan         1           2.95
9          16118  2019-08-03            Mushroom Rice         1           3.95
10         16117  2019-08-03            Mushroom Rice         1           3.95
11         16109  2019-08-03            Mushroom Rice         2           3.95
12         16117  2019-08-03               Plain Naan         1           2.60
13         16110  2019-08-03               Plain Naan         1           2.60
14         16117  2019-08-03              Saag Paneer         1           5.95
15         16110  2019-08-03              Saag Paneer         1           5.95
16         16116  2019-08-03           Chicken Pakora         1           5.95
17         16115  2019-08-03           Chicken Pakora         1           5.95
18         16115  2019-08-03            Mango Chutney         1           0.50
19         16114  2019-08-03            Chicken Balti         1           9.95
20         16114  2019-08-03       Special Fried Rice         2           3.95
21         16112  2019-08-03           Vegetable Rice         1           3.95
22         16112  2019-08-03  Tandoori Chicken Masala         1           8.95
23         16109  2019-08-03                Red Sauce         2           0.50
24         16109  2019-08-03     Chicken Tikka Masala         1           8.95

In [9]:
orders_v2.merge(products_price, how='inner',
                right_on='item_name', left_on='item_name')

    order_number  order_date                item_name  quantity  product_price
0          16118  2019-08-03            Plain Papadum         2           0.80
1          16115  2019-08-03            Plain Papadum         1           0.80
2          16113  2019-08-03            Plain Papadum         1           0.80
3          16112  2019-08-03            Plain Papadum         2           0.80
4          16109  2019-08-03            Plain Papadum         4           0.80
5          16118  2019-08-03         King Prawn Balti         1          12.95
6          16118  2019-08-03              Garlic Naan         1           2.95
7          16110  2019-08-03              Garlic Naan         1           2.95
8          16109  2019-08-03              Garlic Naan         1           2.95
9          16118  2019-08-03            Mushroom Rice         1           3.95
10         16117  2019-08-03            Mushroom Rice         1           3.95
11         16109  2019-08-03            Mushroom Rice         2           3.95
12         16117  2019-08-03               Plain Naan         1           2.60
13         16110  2019-08-03               Plain Naan         1           2.60
14         16117  2019-08-03              Saag Paneer         1           5.95
15         16110  2019-08-03              Saag Paneer         1           5.95
16         16116  2019-08-03           Chicken Pakora         1           5.95
17         16115  2019-08-03           Chicken Pakora         1           5.95
18         16115  2019-08-03            Mango Chutney         1           0.50
19         16114  2019-08-03            Chicken Balti         1           9.95
20         16114  2019-08-03       Special Fried Rice         2           3.95
21         16112  2019-08-03           Vegetable Rice         1           3.95
22         16112  2019-08-03  Tandoori Chicken Masala         1           8.95
23         16109  2019-08-03                Red Sauce         2           0.50
24         16109  2019-08-03     Chicken Tikka Masala         1           8.95

## Outer: union of dataframes

In [10]:
orders_v2.merge(products_price, how='outer',
                right_on='item_name', left_on='item_name')

    order_number  order_date                item_name  quantity  product_price
0        16118.0  2019-08-03            Plain Papadum       2.0           0.80
1        16115.0  2019-08-03            Plain Papadum       1.0           0.80
2        16113.0  2019-08-03            Plain Papadum       1.0           0.80
3        16112.0  2019-08-03            Plain Papadum       2.0           0.80
4        16109.0  2019-08-03            Plain Papadum       4.0           0.80
5        16118.0  2019-08-03         King Prawn Balti       1.0          12.95
6        16118.0  2019-08-03              Garlic Naan       1.0           2.95
7        16110.0  2019-08-03              Garlic Naan       1.0           2.95
8        16109.0  2019-08-03              Garlic Naan       1.0           2.95
9        16118.0  2019-08-03            Mushroom Rice       1.0           3.95
10       16117.0  2019-08-03            Mushroom Rice       1.0           3.95
11       16109.0  2019-08-03            Mushroom Rice       2.0           3.95
12       16117.0  2019-08-03               Plain Naan       1.0           2.60
13       16110.0  2019-08-03               Plain Naan       1.0           2.60
14       16117.0  2019-08-03              Saag Paneer       1.0           5.95
15       16110.0  2019-08-03              Saag Paneer       1.0           5.95
16       16116.0  2019-08-03           Chicken Pakora       1.0           5.95
17       16115.0  2019-08-03           Chicken Pakora       1.0           5.95
18       16115.0  2019-08-03            Mango Chutney       1.0           0.50
19       16114.0  2019-08-03            Chicken Balti       1.0           9.95
20       16114.0  2019-08-03       Special Fried Rice       2.0           3.95
21       16113.0  2019-08-03            Peshwari Naan       1.0            NaN
22       16111.0  2019-08-03            Peshwari Naan       1.0            NaN
23       16112.0  2019-08-03           Vegetable Rice       1.0           3.95
24       16112.0  2019-08-03  Tandoori Chicken Masala       1.0           8.95
25       16111.0  2019-08-03                Saag Aloo       1.0            NaN
26       16110.0  2019-08-03                Aloo Gobi       1.0            NaN
27       16109.0  2019-08-03                Red Sauce       2.0           0.50
28       16109.0  2019-08-03     Chicken Tikka Masala       1.0           8.95
29           NaN         NaN               Mint Sauce       NaN           0.50
30           NaN         NaN                    Puree       NaN           1.95
31           NaN         NaN         Lemonade 1.5 ltr       NaN           2.95
32           NaN         NaN                  Paratha       NaN           2.95
33           NaN         NaN    Perrier Water (750ml)       NaN           3.95
34           NaN         NaN                    Rogon       NaN           8.95
35           NaN         NaN    Chicken Chilli Garlic       NaN           9.95

## Right: keys from right dataframe

In [11]:
orders_v2.merge(products_price, how='right',
                right_on='item_name', left_on='item_name')

    order_number  order_date                item_name  quantity  product_price
0        16118.0  2019-08-03            Plain Papadum       2.0           0.80
1        16115.0  2019-08-03            Plain Papadum       1.0           0.80
2        16113.0  2019-08-03            Plain Papadum       1.0           0.80
3        16112.0  2019-08-03            Plain Papadum       2.0           0.80
4        16109.0  2019-08-03            Plain Papadum       4.0           0.80
5        16118.0  2019-08-03         King Prawn Balti       1.0          12.95
6        16118.0  2019-08-03              Garlic Naan       1.0           2.95
7        16110.0  2019-08-03              Garlic Naan       1.0           2.95
8        16109.0  2019-08-03              Garlic Naan       1.0           2.95
9        16118.0  2019-08-03            Mushroom Rice       1.0           3.95
10       16117.0  2019-08-03            Mushroom Rice       1.0           3.95
11       16109.0  2019-08-03            Mushroom Rice       2.0           3.95
12       16117.0  2019-08-03               Plain Naan       1.0           2.60
13       16110.0  2019-08-03               Plain Naan       1.0           2.60
14       16117.0  2019-08-03              Saag Paneer       1.0           5.95
15       16110.0  2019-08-03              Saag Paneer       1.0           5.95
16       16116.0  2019-08-03           Chicken Pakora       1.0           5.95
17       16115.0  2019-08-03           Chicken Pakora       1.0           5.95
18       16115.0  2019-08-03            Mango Chutney       1.0           0.50
19       16114.0  2019-08-03            Chicken Balti       1.0           9.95
20       16114.0  2019-08-03       Special Fried Rice       2.0           3.95
21       16112.0  2019-08-03           Vegetable Rice       1.0           3.95
22       16112.0  2019-08-03  Tandoori Chicken Masala       1.0           8.95
23       16109.0  2019-08-03                Red Sauce       2.0           0.50
24       16109.0  2019-08-03     Chicken Tikka Masala       1.0           8.95
25           NaN         NaN               Mint Sauce       NaN           0.50
26           NaN         NaN                    Puree       NaN           1.95
27           NaN         NaN         Lemonade 1.5 ltr       NaN           2.95
28           NaN         NaN                  Paratha       NaN           2.95
29           NaN         NaN    Perrier Water (750ml)       NaN           3.95
30           NaN         NaN                    Rogon       NaN           8.95
31           NaN         NaN    Chicken Chilli Garlic       NaN           9.95

## Left: keys from left dataframe

In [12]:
orders_v2.merge(products_price, how='left',
                right_on='item_name', left_on='item_name')

    order_number  order_date                item_name  quantity  product_price
0          16118  2019-08-03            Plain Papadum         2           0.80
1          16118  2019-08-03         King Prawn Balti         1          12.95
2          16118  2019-08-03              Garlic Naan         1           2.95
3          16118  2019-08-03            Mushroom Rice         1           3.95
4          16117  2019-08-03               Plain Naan         1           2.60
5          16117  2019-08-03            Mushroom Rice         1           3.95
6          16117  2019-08-03              Saag Paneer         1           5.95
7          16116  2019-08-03           Chicken Pakora         1           5.95
8          16115  2019-08-03           Chicken Pakora         1           5.95
9          16115  2019-08-03            Plain Papadum         1           0.80
10         16115  2019-08-03            Mango Chutney         1           0.50
11         16114  2019-08-03            Chicken Balti         1           9.95
12         16114  2019-08-03       Special Fried Rice         2           3.95
13         16113  2019-08-03            Peshwari Naan         1            NaN
14         16113  2019-08-03            Plain Papadum         1           0.80
15         16112  2019-08-03            Plain Papadum         2           0.80
16         16112  2019-08-03           Vegetable Rice         1           3.95
17         16112  2019-08-03  Tandoori Chicken Masala         1           8.95
18         16111  2019-08-03            Peshwari Naan         1            NaN
19         16111  2019-08-03                Saag Aloo         1            NaN
20         16110  2019-08-03                Aloo Gobi         1            NaN
21         16110  2019-08-03              Saag Paneer         1           5.95
22         16110  2019-08-03              Garlic Naan         1           2.95
23         16110  2019-08-03               Plain Naan         1           2.60
24         16109  2019-08-03            Plain Papadum         4           0.80
25         16109  2019-08-03                Red Sauce         2           0.50
26         16109  2019-08-03     Chicken Tikka Masala         1           8.95
27         16109  2019-08-03            Mushroom Rice         2           3.95
28         16109  2019-08-03              Garlic Naan         1           2.95